# Python
__pycache__/
*.pyc
.venv/
backend/dev.db
backend/.env
.pytest_cache/

# Node
node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# Vercel
.vercel/

# Editor / SO
.vscode/
.DS_Store
Thumbs.db

# TS build cache
frontend/tsconfig.tsbuildinfo
